@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --font-inter: var(--font-inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
.hero-background {
  background: linear-gradient(
    129.42deg,
    #171f42 40.67%,
    #293775 58.28%,
    #3f2888 66.59%
  );
}
.success-hero-background {
  background: linear-gradient(
    89.67deg,
    #2a56c6 0.29%,
    #8a36e9 93.57%,
    #8e35ea 96.99%
  );
}

.button-style {
  background: linear-gradient(
    87.98deg,
    rgba(64, 87, 235, 0.2) 21.03%,
    rgba(142, 53, 234, 0.2) 62.11%
  );
  border: 1px, solid, #be2bd8;
}

.accessory-button {
  background: linear-gradient(88.41deg, #3b99fc 1.35%, #8e35ea 51.34%);
}
